 <style>
    :root {
      --fade-in-speed: 1s;
      --fade-out-speed: 0.5s;
     font-size: 32px; 
    }

.text-container {
  display: flex; /* Enables flexbox */
  flex-direction: column; /* Stacks the items vertically */
  justify-content: flex-start; /* Aligns items at the start of the container */
  align-items: center; /* Center items horizontally */
  height: 100%; /* Full height of the viewport */
  position: relative; /* To control absolute positioning of elements */
  padding: 24px;
  z-index: 10;
}

.text-container h1 {
  font-size: 2rem;
  color: #fefffeff;
  font-family: 'Century Gothic', sans-serif;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.5),
               0 0 10px rgba(255, 255, 255, 0.4),
               0 0 15px rgba(255, 255, 255, 0.3);
  position: absolute; /* Absolute positioning */
  top: 50%; /* Vertically centers it */
  left: 50%; /* Horizontally centers it */
  transform: translate(-50%, -50%); /* Adjusts position to truly center */
  text-align: center; /* Centers the whole text block */
  word-spacing: 1rem; /* Adjusts the space between words */
  line-height: 0.5; /* Adjusts the space between lines of text */
}

.text-container h2 {
  font-size: 3rem;
  color: #fefffeff;
  text-align: center;
  font-family: 'Century Gothic', sans-serif;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.5),
               0 0 10px rgba(255, 255, 255, 0.4),
               0 0 15px rgba(255, 255, 255, 0.3);
  position: absolute; /* Absolute positioning */
  top: 0; /* Positioned at the top of the screen */
  left: 50%; /* Horizontally centers it */
  transform: translateX(-50%); /* Adjusts for true centering */
}

.text-container h3 {
  font-size: 1rem;
  color: #fefffeff;
  position: absolute; /* Absolute positioning */
  top: 0; /* Positioned at the top of the screen */
  left: 0; /* Left-aligned */
}

.scroll-down {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.8rem;
  color: #fff;
  text-align: center;
  opacity: 0;
  animation: blink 1.5s infinite;
  z-index: 20;
}

.scroll-down .arrow {
  display: block;
  font-size: 0.8rem;
  margin-top: 5px;
  animation: bounceArrow 1s infinite;
}

/* Animations */
@keyframes blink {
  0%, 100% { opacity: 0; }
  50% { opacity: 1; }
}

@keyframes bounceArrow {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(10px); }
}
