 <style>
    :root {
      --fade-in-speed: 1s;
      --fade-out-speed: 0.5s;
     font-size: 32px; 
    }

.text-container {
  position: absolute;
  top: 30px;
  left: 30px;
  z-index: 10;
  padding: 24px;
  text-align: left; /* for inline text alignment */
  display: flex; /* enables flexbox */
  justify-content: center; /* aligns items horizontally */
  align-items: center; /* aligns items vertically */
  overflow-wrap: normal; /* prevents breaking words */
  word-wrap: normal; /* ensures compatibility with older browsers */
  white-space: normal; /* allows wrapping of text */
}
.text-container h1 {
  font-size: 3rem;
  color: #fefffeff;
  font-family: 'Century Gothic', sans-serif;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.5),
               0 0 10px rgba(255, 255, 255, 0.4),
               0 0 15px rgba(255, 255, 255, 0.3);
}

.text-container h1 span {
    display: inline-block;
    opacity: 0;
  }

.text-container h2 {
  font-size: 3rem;
  color: #fefffeff;
  font-family: 'Century Gothic', sans-serif;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.5),
               0 0 10px rgba(255, 255, 255, 0.4),
               0 0 15px rgba(255, 255, 255, 0.3);
}

.text-container h3 {
  font-size: 1rem;
  color: #201e1fff;
}

.scroll-down {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.8rem;
  color: #fff;
  text-align: center;
  opacity: 0;
  animation: blink 1.5s infinite;
  z-index: 20;
}

.scroll-down .arrow {
  display: block;
  font-size: 0.8rem;
  margin-top: 5px;
  animation: bounceArrow 1s infinite;
}

/* Animations */
@keyframes blink {
  0%, 100% { opacity: 0; }
  50% { opacity: 1; }
}

@keyframes bounceArrow {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(10px); }
}
